root = true

[*]
# ij_continuation_indent_size = 8
# ij_formatter_off_tag = @formatter:off
# ij_formatter_on_tag = @formatter:on
# ij_formatter_tags_enabled = false
# ij_smart_tabs = false
# ij_wrap_on_typing = false

[{user_repository,register_widget,authentication_bloc,*.dart}]
# ij_continuation_indent_size = 4
# ij_dart_align_multiline_binary_operation = false
# ij_dart_align_multiline_parameters = false
# ij_dart_align_multiline_parameters_in_calls = false
# ij_dart_align_multiline_ternary_operation = false
# ij_dart_assignment_wrap = normal
# ij_dart_binary_operation_sign_on_next_line = false
# ij_dart_binary_operation_wrap = normal
# ij_dart_block_brace_style = end_of_line
# ij_dart_call_parameters_new_line_after_left_paren = false
# ij_dart_call_parameters_right_paren_on_new_line = false
# ij_dart_call_parameters_wrap = normal
# ij_dart_catch_on_new_line = false
# ij_dart_delegate_to_dartfmt = true
# ij_dart_else_on_new_line = false
# ij_dart_keep_blank_lines_in_code = 2
# ij_dart_keep_first_column_comment = true
# ij_dart_keep_indents_on_empty_lines = false
# ij_dart_keep_line_breaks = true
# ij_dart_keep_simple_blocks_in_one_line = true
# ij_dart_keep_simple_classes_in_one_line = true
# ij_dart_keep_simple_methods_in_one_line = true
# ij_dart_method_brace_style = end_of_line
# ij_dart_method_parameters_new_line_after_left_paren = false
# ij_dart_method_parameters_right_paren_on_new_line = false
# ij_dart_method_parameters_wrap = normal
# ij_dart_parentheses_expression_new_line_after_left_paren = false
# ij_dart_parentheses_expression_right_paren_on_new_line = false
# ij_dart_place_assignment_sign_on_next_line = false
# ij_dart_space_after_colon = true
# ij_dart_space_after_comma = true
# ij_dart_space_after_comma_in_type_arguments = true
# ij_dart_space_after_quest = true
# ij_dart_space_before_catch_keyword = true
# ij_dart_space_before_catch_left_brace = true
# ij_dart_space_before_catch_parentheses = true
# ij_dart_space_before_colon = true
# ij_dart_space_before_comma = false
# ij_dart_space_before_else_keyword = true
# ij_dart_space_before_else_left_brace = true
# ij_dart_space_before_for_left_brace = true
# ij_dart_space_before_for_parentheses = true
# ij_dart_space_before_if_left_brace = true
# ij_dart_space_before_if_parentheses = true
# ij_dart_space_before_method_call_parentheses = false
# ij_dart_space_before_method_left_brace = true
# ij_dart_space_before_method_parentheses = false
# ij_dart_space_before_quest = true
# ij_dart_space_before_switch_left_brace = true
# ij_dart_space_before_switch_parentheses = true
# ij_dart_space_before_try_left_brace = true
# ij_dart_space_before_while_keyword = true
# ij_dart_space_before_while_left_brace = true
# ij_dart_space_before_while_parentheses = true
# ij_dart_spaces_around_additive_operators = true
# ij_dart_spaces_around_assignment_operators = true
# ij_dart_spaces_around_equality_operators = true
# ij_dart_spaces_around_logical_operators = true
# ij_dart_spaces_around_multiplicative_operators = true
# ij_dart_spaces_around_relational_operators = true
# ij_dart_spaces_around_shift_operators = true
# ij_dart_spaces_around_unary_operator = false
# ij_dart_spaces_within_catch_parentheses = false
# ij_dart_spaces_within_for_parentheses = false
# ij_dart_spaces_within_if_parentheses = false
# ij_dart_spaces_within_method_call_parentheses = false
# ij_dart_spaces_within_method_parentheses = false
# ij_dart_spaces_within_switch_parentheses = false
# ij_dart_spaces_within_while_parentheses = false
# ij_dart_special_else_if_treatment = true
# ij_dart_ternary_operation_signs_on_next_line = true
# ij_dart_ternary_operation_wrap = on_every_item
# ij_dart_while_on_new_line = false
