name: nextcloud_cookbook_flutter
description: A new Flutter application.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.6.0+18

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: 2.5.2

dependencies:
  flutter:
    sdk: flutter

  flutter_translate:
    git:
      url: https://github.com/cornerman/flutter_translate.git
      ref: fallback-missing-strings

  # For DNS punycode translation
  punycode: ^1.0.0

  #for app key
  flutter_secure_storage: ^4.1.0
  url_launcher: ^6.0.3

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2

  # For HTTP Requests
  http: ^0.13.1

  # flutter_bloc for simpler bloc implementation
  bloc: ^7.2.1
  flutter_bloc: ^7.3.0

  # For easier handling without hand built hash comparison
  equatable: ^2.0.0

  # Search Field (For Category & Tags)
  searchfield: ^0.5.2

  # Search
  search_page: ^2.0.0

  # Form data HTTP Client
  dio: ^4.0.0

  extended_image: ^5.1.2
  xml: ^5.1.0

  flutter_spinkit: ^5.0.0
  validators: ^3.0.0

  flutter_svg: ^0.22.0

  # Reorderable List for Edit and Create Recipe
  flutter_reorderable_list: ^1.1.0

  # Timer for cooking time
  flutter_local_notifications: ^8.2.0
  timer_builder: 2.0.0
  flutter_native_timezone: 2.0.0

dev_dependencies:
  flutter_launcher_icons: ^0.9.0

  flutter_test:
    sdk: flutter


flutter_icons:
  android: "launcher_icon"
  ios: false
  image_path: "assets/icon.png"
  adaptive_icon_background: "#0082c9"
  adaptive_icon_foreground: "assets/adaptive_foreground.png"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/i18n/
    - assets/icon.svg

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
