name: "Build"
on:
  pull_request:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.4.0
    - uses: actions/setup-java@v2
      with:
        java-version: '12.x'
        distribution: 'adopt'
    - uses: subosito/flutter-action@v2.3.0
      with:
        flutter-version: '2.5.2'
    - run: flutter pub get
    - run: flutter build apk --debug
